.head{

    color:rgb(221, 191, 59);
    text-align: center;

   

}
.pcolor{
    color:orange;
    background-color: beige;
    text-align: center;
    max-width: 100px;
    padding: 10px;
    margin-left: 27em;

}

.warn{
    color:white;
    background-color: #ffc107;
    max-width: 10em;
    border: 0px solid white;
    padding: 10px;
    margin-left: 27em;

}
.primary{
    color: ghostwhite;
    background-color:#0074d9;
    max-width: 10em;
    border: 0px solid white;
    padding: 10px;
    margin-left: 27em;
}